# Dependency directories
node_modules/
jspm_packages/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Databases & local stores
data/*.json
!data/products.json
!data/users.json
!data/orders.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Build directories
dist/
build/
.cache/

# IDE configurations
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
